@import './colors';
@import './variables';
@font-face {
  font-family: 'GTWalsheimMedium';
  src: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/fonts/GTWalsheim/GT-Walsheim-Medium.otf') format('opentype')
}

@font-face {
  font-family: 'GTWalsheimRegular';
  src: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/fonts/GTWalsheim/GT-Walsheim-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Chrono-Bold';
  src: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/fonts/Chrono/Chrono-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'GTWalsheimBold';
  src: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/fonts/GTWalsheim/GT-Walsheim-Bold.otf') format('opentype')
}

h1,
.h1 {
  /* Heading 1: */
  font-family: 'GTWalsheimMedium';
  font-size: 30px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 36px;
  &.h1-large {
    font-family: 'GTWalsheimBold';
    font-size: calc(36px + 1.5vw) !important;
    line-height: calc(42px + 1.5vw) !important;
    letter-spacing: -2px;
  }
  @media screen and (min-width: $tablet-min) {
    font-size: 44px;
    letter-spacing: 0.73px;
    line-height: 60px;
    &.h1-large {
      font-family: 'GTWalsheimBold';
      // font-size: 72px;
      letter-spacing: -2px;
      // line-height: 72px;
      // font-weight: bold;
    }
  }
}

h2,
.h2 {
  /* Heading 2: */
  font-family: 'GTWalsheimMedium';
  font-size: calc(24px + 1vw);
  color: $black;
  letter-spacing: 0px; // 0.33px;
  line-height: calc(36px + 1vw);
  &.h2-large {
    font-family: 'GTWalsheimBold';
    letter-spacing: 1px;
  }
  @media screen and (min-width: $tablet-min) {
    // font-size: 38px;
    // letter-spacing: 0.53px;
    // line-height: 48px;
    &.h2-large {
      font-family: 'GTWalsheimBold';
      letter-spacing: 1px;
    }
  }
}

h3,
.h3 {
  /* Heading 3: */
  font-family: 'GTWalsheimMedium';
  font-size: 18px;
  color: $black;
  letter-spacing: 0.5px;
}

.utility {
  /* Utility: */
  font-family: 'GTWalsheimRegular';
  font-size: 12px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 24px;
}

p,
.p {
  /* Paragraph: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px; // calc(18px + 0.5vw);
  color: $black;
  letter-spacing: 0.5px;
  line-height: 27px; // calc(27px + 0.5vw);
  &.large {
    /* Paragraph Large: */
    font-family: 'GTWalsheimRegular';
    font-size: 24px;
    color: $black;
    letter-spacing: 0.5px;
    line-height: 36px;
  }
  &.extra-line-height {
    line-height: 30px;
  }
  &.small {
    letter-spacing: 0px;
  }
}

.button {
  /* Button: */
  font-family: 'Chrono-Bold';
  font-size: 14px;
  color: $black;
  letter-spacing: 1.4px;
  line-height: 12px;
  text-transform: uppercase;
}

a,
.a {
  /* Text Link: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: $grey;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-decoration: underline;
  &.small {
    /* Text Link Small: */
    font-family: 'GTWalsheimRegular';
    font-size: 12px;
    color: $grey;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-decoration: underline;
  }
}
