@import './variables';

.hide-mobile {
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    display: none;
  }
}

.hide-tablet {
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    display: none;
  }
}

.hide-desktop {
  @media screen and (min-width: $desktop-min) {
    display: none;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// row modifier

.row--full {
  position: relative;
  width: calc(100% - 24px);
  margin: auto !important;
  >div {
    position: relative;
    background: rgba(255, 0, 0, 0.15);
  }
}